Source: obmenu
Section: misc
Priority: extra
Maintainer: OxyHQ <hello@oxy.so>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.8
Homepage: https://os.oxy.so

Package: obmenu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-gi
Description: various Openbox pipemenus.
 A repackaging of https://github.com/0x10/obmenu2
